@import "tailwindcss";

:root {
    --bg-primary: #09090b;
    --bg-secondary: #18181b;
    --accent: #fbbf24;
    --accent-hover: #f59e0b;
    --text-primary: #fafafa;
    --text-secondary: #a1a1aa;
}

html,
body {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
    scrollbar-width: none;
}
